.page {
  min-height: 100svh;
  padding: 0px 80px 10px 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav{
  display: flex;
  list-style: none;
  gap: 40px;
  height: 100px;
}

.navbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navhead{
  color: black;
  font-size: medium;
}

.navcontent{
  color: #b9b9b9;
  font-size: small;
}

.box{
  padding: 20px 20px 20px 20px;
  display: grid;
  place-content: center;
}

.introduction{
  margin-top: 70px;
  display: flex;
  gap: 20px;
  font-size: xx-large;
}

.description{
  width: 700px;
  line-height: 50px;
  text-align: justify;
}

.description_article{
  width: 700px;
  line-height: 30px;
  text-align: justify;
}

.description_outbox{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.description_box{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: fit-content;
  border-style: dashed;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
}

.project_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.down{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.cardbox{
  background-color: #f3f3f3;
  border-radius: 15px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px #cacaca;
}

.cardbox:hover{
  background-color: #e7e7e7;
}

.card{
  padding: 20px;
  min-height: 317px;
}

.card_description{
  display: flex;
  gap: 5px;
}

.card_desc_box{
  background-color: #cacaca;
  font-size: smaller;
  line-height: 7px;
  padding: 5px;
  border-radius: 5px;
}

.card_link_box{
  display: flex;
  gap: 10px;
}

.card_link{
  display: flex;
  padding-top: 5px;
  gap: 5px;
}

.card_link_img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_link_desc{
  font-size: small;
}

.card_link_hover:hover{
  color: #737373;
}

.footer_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  gap: 20px;
}

.roundimg{
  border-radius: 100px;
}

.roundicon{
  border-radius: 5px;
}

.divider{
  margin-top: 50px;
  margin-bottom: 50px;
}

.button_box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_more{
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #c2c1c1;
  transition: background-color 0.2s ease
}

.button_more:hover{
  background-color: #dedede;
}

@media (max-width: 600px) {

  .profile {
    display: none;
  }

  .res_image{
    width: 270px;
    height: 135px;
  }

  .navhead{
    font-size: xx-small;
  }

  .navcontent{
    font-size: xx-small;
  }

  .navbox{
    align-items: normal;
    justify-content: normal;
  }

  .introduction {
    font-size: large;
    justify-content: center;
  }

  .description {
    display: flex;
    justify-content: center;
    font-size: large;
    width: 300px;
    line-height: 20px;
  }

  .description_article{
    width: 300px;
    font-size: small;
  }

  .box{
    display: flex;
    flex-direction: column;
  }

  .down {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}